html {
  min-height: 100%;
  width: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

#app {
  min-height: 100%;
  width: 100%;
}

.page {
  width: 100%;
}

.adverb {
  position: fixed;
  width: 100%;
  max-width: 850px;
  max-height: 150px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}