$primary: #F98500;
$secondary: #0A1121;
$tertiary: #FDF6EB;
$light: #FFFFFF;
$gray: #626A77;
$gray2: #333333;
$gray3: #475569;
$line: #DFE0E2;
$line2: #C4C8CF;

$xs: 380px; // sm-phone
$sm: 560px; // phone
$smd: 780px; // small-tablet
$md: 1000px; // tablet
$slg: 1025px; // wide-tablet
$lg: 1275px; // small-laptop
$xlg: 1370px; // laptop
$xxlg: 1445px; // wide-laptop
$xxxlg: 1925px; // wide-screen

// @include mixin.laptop { font-size: 5.6rem; }
// @include mixin.wide-tablet { font-size: 5rem; }
// @include mixin.tablet { font-size: 4.4rem; }
// @include mixin.small-tablet { font-size: 3.8rem; }
// @include mixin.phone { font-size: 3.2rem; }
// @include mixin.sm-phone { font-size: 2.6rem; }